header {
 position: relative;
 height : 100px;
 display: flex;
 justify-content: center;
}

header div {
 font-size: 44px;
}

.calender {
    position: relative;
    left : 0;
    right : 0;
    margin : auto;
    height : 500px;
    width : 400px;
    display: flex;
    justify-content: center;
}

.calender .calender-util {

}

.calender .calender-util input {
    border : 2px solid #000;
}

.calender .calender-util button {
    width : 60px;
    height : 40px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
}


.calender .calender-util .save {
    margin-left: 130px;
}


.calender .calender-util .revise {
    margin-left: 65px;
}

.calender .calender-util .title-form {
    width : 400px;
    height : 30px;
    margin-bottom: 10px;

}

.calender .calender-util .content-form {
    width :400px;
    height: 400px;
}

